:root{
    --title-h1: firebrick;
    --title-h2: coral;
    --title-h3: tomato;
    --title-h4: IndianRed;
    --title-h5: DarkSalmon;
}
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: antiquewhite;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
        h1{
            font-size: 32px;
        }
        h2{
            font-size: 24px;
        }
        h3{
            font-size: 20px;
        }
        h4{
            font-size: 16px;
        }
        h5{
            font-size: 14px;
        }
        p{
            font-size: 14px;
        }
        li{
            font-size: 14px;
        }
        h6{
            font-size: 12px;
        }
/* -------------------- HEADER -------------------- */
#header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 40px 10px 40px;
}
    .title{
        padding: 6px 80px 6px 80px;
        background-color: var(--title-h1);
        border-radius: 25px;
    }
/* -------------------- FLEX -------------------- */
#display{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
    .flex{
        margin: 0 20px 0 40px;
    }
        .flex h2{
            display: flex;
            justify-content: center;
            margin: 6px 40px 6px 40px;
            padding: 4px 40px 4px 40px;
            width: 25vw;
            background-color: var(--title-h2);
            border-radius: 25px;
        }
            .flex h3{
                display: flex;
                justify-content: center;
                margin: 6px 75px 6px 75px;
                padding: 2px 30px 2px 30px;
                width: 25vw;
                background-color: var(--title-h3);
                border-radius: 25px;
            }
            .flex ul{
                padding: 4px 0 4px 0;
            }
                .flex li{
                    margin: 0 0 3px 15px;
                }
            .flex h4{
                display: flex;
                justify-content: center;
                margin: 6px 25px 6px 25px;
                padding: 2px 30px 2px 30px;
                width: 16vw;
                background-color: var(--title-h4);
                border-radius: 25px;
            }
            .flex h5{
                margin: 6px 25px 6px 30px;
                padding: 2px 20px 2px 20px;
                width: fit-content;
                background-color: var(--title-h5);
                border-radius: 25px;
            }
            .flex h6{
                margin: 3px 0 0 40px;
                padding: 3px 15px 3px 15px;
                width: fit-content;
                background-color: yellowgreen;
                border-radius: 25px;
            }
/* -------------------- GRID -------------------- */
    .grid{
        margin: 0 40px 0 20px;
    }
        .grid h2{
            display: flex;
            justify-content: center;
            margin: 6px 40px 6px 40px;
            padding: 4px 40px 4px 40px;
            width: 25vw;
            background-color: var(--title-h2);
            border-radius: 25px;
        }
            .grid h3{
                display: flex;
                justify-content: center;
                margin: 6px 75px 6px 75px;
                padding: 2px 30px 2px 30px;
                width: 25vw;
                background-color: var(--title-h3);
                border-radius: 25px;
            }
            .grid ul{
                padding: 4px 0 4px 0;
            }
                .grid li{
                    margin: 0 0 3px 15px;
                }
                .grid ul p{
                    margin: 3px 0 0 25px;
                }
                .grid ul ul{
                    margin-left: 40px;
                }
                .grid div div div ul{
                    margin-left: 25px;
                }
            .grid h4{
                display: flex;
                justify-content: center;
                margin: 6px 25px 6px 25px;
                padding: 2px 30px 2px 30px;
                width: 16vw;
                background-color: var(--title-h4);
                border-radius: 25px;
            }
            .grid h5{
                margin: 6px 25px 6px 30px;
                padding: 2px 20px 2px 20px;
                width: fit-content;
                background-color: var(--title-h5);
                border-radius: 25px;
            }
            .grid h6{
                margin: 3px 0 0 40px; 
                padding: 0 0 0 15px;
                padding: 3px 15px 3px 15px;
                width: fit-content;
                background-color: yellowgreen;
                border-radius: 25px;
            }
/* -------------------- NONE -------------------- */
    .none{
        margin: 10px 40px 0 20px;
    }
        .none div{
            display: flex;
            justify-content: center;
        }
            .none h2{
                display: flex;
                justify-content: center;
                margin: 6px 40px 6px 40px;
                padding: 4px 40px 4px 40px;
                width: 25vw;
                background-color: var(--title-h2);
                border-radius: 25px;
            }
        .none h5{
            margin: 6px 25px 6px 30px;
            padding: 2px 20px 2px 20px;
            width: fit-content;
            background-color: var(--title-h5);
            border-radius: 25px;
        }
        .none ul{
            padding: 4px 0 4px 0;
        }
            .none ul li{
                margin: 3px 0 3px 15px;
                font-weight: bold;
            }
            .none ul p{
                margin: 3px 0 0 25px;
            }
        .none h6{
            margin: 3px 0 0 40px; 
            padding: 0 0 0 15px;
            padding: 3px 15px 3px 15px;
            width: fit-content;
            background-color: yellowgreen;
            border-radius: 25px;
        }
        .none p{
            margin: 5px 0 0 0;
        }
/* -------------------- BLOCK -------------------- */
.block{
    margin: 20px 40px 0 20px;
}
    .block div{
        display: flex;
        justify-content: center;
    }
        .block h2{
            display: flex;
            justify-content: center;
            margin: 6px 40px 6px 40px;
            padding: 4px 40px 4px 40px;
            width: 25vw;
            background-color: var(--title-h2);
            border-radius: 25px;
        }
    .block h5{
        margin: 6px 25px 6px 30px;
        padding: 2px 20px 2px 20px;
        width: fit-content;
        background-color: var(--title-h5);
        border-radius: 25px;
    }
        .block ul li{
            margin: 3px 0 3px 15px;
            font-weight: bold;
        }
        .block ul p{
            margin: 3px 0 0 25px;
        }
    .block h6{
        margin: 6px 0 6px 40px; 
        padding: 3px 15px 3px 15px;
        width: fit-content;
        background-color: yellowgreen;
        border-radius: 25px;
    }
    .block p{
        margin: 5px 0 0 0;
    }
/* -------------------- INLINE -------------------- */
    .inline{
        margin: 10px 40px 0 20px;
    }
    .inline div{
        display: flex;
        justify-content: center;
    }
        .inline h2{
            display: flex;
            justify-content: center;
            margin: 6px 40px 6px 40px;
            padding: 4px 40px 4px 40px;
            width: 25vw;
            background-color: var(--title-h2);
            border-radius: 25px;
        }
    .inline h5{
        margin: 3px 25px 3px 30px;
        padding: 2px 20px 2px 20px;
        width: fit-content;
        background-color: var(--title-h5);
        border-radius: 25px;
    }
        .inline ul li{
            margin: 3px 0 3px 15px;
        }
    .inline h6{
        margin: 6px 0 6px 40px; 
        padding: 3px 15px 3px 15px;
        width: fit-content;
        background-color: yellowgreen;
        border-radius: 25px;
    }
/* -------------------- INLINE-BLOCK -------------------- */
    .inblock{
        margin: 10px 40px 0 20px;
    }
    .inblock div{
        display: flex;
        justify-content: center;
    }
        .inblock h2{
            display: flex;
            justify-content: center;
            margin: 6px 40px 6px 40px;
            padding: 4px 40px 4px 40px;
            width: 25vw;
            background-color: var(--title-h2);
            border-radius: 25px;
        }
    .inblock h5{
        margin: 3px 25px 3px 30px;
        padding: 2px 20px 2px 20px;
        width: fit-content;
        background-color: var(--title-h5);
        border-radius: 25px;
    }
        .inblock ul li{
            margin: 3px 0 3px 15px;
        }
/* --------------------  -------------------- */
#hr{
    margin: 5px 0 5px 0;
    border: none;
    height: 2px;
    background-color: darkred;
}
/* -------------------- STATIC -------------------- */